* {
    padding: 0%;
    margin: 0;
}

.container {
    background-image: linear-gradient(-255deg, #231557 0%, #43107a 29%, #ff1361 100%);
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    cursor: url("icons8-rocket-48.png"),auto;
    background-repeat: no-repeat;
}

@keyframes fall {
    0% {
      opacity: 1;
      transform: translate(0px,0px);
      
    }
    100% {
      opacity: 0;
      transform: translate(0px,200px);
      transform: translateY(100px) rotate(0deg);
    }
  }
  
  .fall {
    animation: fall 3s ease-in-out;
    
  }